.users-component {
  padding: 0% 10% 0 10%;
  height: 7em;
  font-family: "Poppins";
  display: flex;
  align-items: center;
}

.titulo {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}
#imageTitle {
  display: flex;
  align-items: center;
  height: 2em;
  width: 2em;
}

#titleText {
  padding-left: 10%;
}
.controlInput {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-control {
  background: #d9d9d9 url("../../assets/SVG/icono_buscar.svg") right no-repeat;
  background-size: 5%;
  background-position-x: right 10px;
  font-family: "Poppins";
  padding-left: 1%;
  padding-right: 3%;
  height: 2.4em;
  width: 19em;
  border-radius: 15px;
  border: none;
}
#input_img {
  bottom: 2px;
  right: 5px;
  width: 20px;
  height: 20px;
}
