
.bodyContent{ 
  background-color: #427df0;
  width: 100%;  
  height: 6em;
  display: table;
  
  
}
.align{
  padding:0 10% 0 10%;
  vertical-align: middle; 
  display: table-cell;
}

.titulo {
    color: white;
    display: inline-block;
    font-family: "Poppins";   
    font-weight: bold; 
    
}
.btn {  
  background: #ffffff;
  border-radius: 10%;
  float: right;
	border: none;
	border-radius: 0.5rem;
  width: 9rem;
  height: 1.75rem;	
  cursor:pointer;
  font-family: "Poppins"; 
  
  
}

.btn span{
  font-size: 0.7rem;
  color: #427df0;
  font-weight: bold;
}
.btn img{
  height: 50%;
  vertical-align: middle;
  margin-left: 5px
}
