#modal-content-wrapper {
  font-family: "Poppins";
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
#modal-header {
  height: 15%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom-style: solid;
  border-block-color: #ebebeb;
  border-bottom-width: 3px;
}

#modal-header,
#modal-title {
  content: "";
  flex-basis: 100%;
}
#modal-title {
  font-size: 17px;
  text-align: center;
  font-family:"Poppins";
  font-weight: bold;
}
#modal-close {
  border: none;
  background: none;
  height: 5%;
  width: 5%;
  text-align: right;
  cursor:pointer;
  
}
#modal-body {
  height: 60%;
  padding-top: 3%;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 3% 0 3%;
}

.text-type {
  background: #ebebeb;
  border: none;
  border-radius: 20px;
  height: 2em;
  width: 80%;
  padding-left: 10px;
}
.radio-btn {
  background-color: red;
}
#modal-footer {
  text-align: center;
}
#modal-footer button {
  height: 2.5em;
  width: 6.75em;
  border: none;
}
#btn-update {
  background: #427df0;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  font-size: medium;
  cursor:pointer;
}
#btn-cancelar {
  background: none;
  cursor:pointer;
  color:#1352cd;
  text-decoration: underline #1352cd;
  font-size: medium;
}