@font-face {
    font-family: "Poppins";
    src: url('../assets/Poppins-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url('../assets/Poppins-Bold.otf') format("truetype");
    font-style: normal;
    font-weight: 600;
  }
  