<div id="modal-content-wrapper">
  <div id="modal-header">
    <h1 id="modal-title">Editar usuario</h1>
    <button id="modal-close" (click)="closeModal()">
      <img src="../../../assets/SVG/icono_cerrar.svg" alt="" />
    </button>
  </div>
  <section id="modal-body">
    <div id="modal-name" class="grid-item">
      <span>Nombre</span>
      <br />
      <input
        type="text"
        class="text-type"
        name="firstname"
        maxlength="45"
        [(ngModel)]="firstname"
        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
      />
    </div>
    <div id="modal-apellido" class="grid-item">
      <span>Apellido</span><br />
      <input
        type="text"
        class="text-type"
        maxlength="45"
        name="lastname"
        [(ngModel)]="lastname"
        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
      />
    </div>
    <div id="modal-location" class="grid-item">
      <span>Ubicacion</span><br />
      <input
        type="text"
        class="text-type"
        maxlength="90"
        name="location"
        [(ngModel)]="location"
        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==44)"
      />
    </div>
    <div id="modal-cellphone" class="grid-item">
      <span>celular</span><br />
      <input
        type="text"
        class="text-type"
        name="cellphone"
        [(ngModel)]="cellphone"
        placeholder=""
        mask="000 000 0000"
      />
    </div>

    <form class="grid-item">
      <input
        type="radio"
        name="gender"
        [(ngModel)]="gender"
        value="m"
      />Masculino
      <span></span>
      <input
        type="radio"
        name="gender"
        [(ngModel)]="gender"
        value="f"
      />Femenino
    </form>
  </section>
  <footer id="modal-footer">
    <button id="btn-agregar" (click)="actionAgregar()">Agregar</button>
    <br />
    <button id="btn-cancelar" (click)="closeModal()">Cancelar</button>
  </footer>
</div>
